@model IEnumerable<Taxi.Web.Data.Entities.TaxiEntity>

@{
    ViewData["Title"] = "Index";
}

@*<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />*@
@*<link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />*@

    <p>
        <a class="btn btn-sm btn-primary" asp-action="Create"><i class="fas fa-plus-circle"></i> Create New</a>
    </p>

<div class="card border-secondary">
    <div class="card-header">
        <div class="card-title"><h5> Taxis Plate List </h5></div>

    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table table-striped" id="TaxiTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Plate)
                    </th>
                    <th>
                        @*<a href="#addPlateModal" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fas fa-plus-circle"></i> Add New</a>*@
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm"><i class="fas fa-pencil-alt"></i> </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm"><i class="fas fa-list-alt"></i> </a>
                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem"><i class="fas fa-trash-alt"></i></a>*@
                            <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Delete modal form-->
<partial name="_DeleteDialog" />

<!--Add modal form-->

<div id="addPlateModal123" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Taxis" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="modal-header">
                    <div class="modal-title">
                        <h5>Add Plate</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" ari-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Plate Number</label>
                        <input type="text" class="form-control" required name="Plate" />
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="cancel" />
                    <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>"
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>"*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TaxiTable').DataTable({
                stateSave: true
            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Taxis/Delete/' + item_to_delete;
            });
        });
    </script>


}